@charset "utf-8";

/* 메인 비디오에 대한 CSS */
#mainVideo {
    position: absolute;
    top: 10;
    bottom: 10;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

